@import url("../../index.css");

.mainContainer {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 0rem 0rem 1.5rem 0rem;
}
